#paginationSection{
    display: flex;
    justify-content: center;
    .chevrn{
        background: transparent;
    }
    .active{
       background:#7BB8FF;
       border-radius: 50%;
       a{
           color: white;
       }
   }
    li{
        border-radius: 50%;
        margin-left: 4px;
        margin-right: 4px;
        width: 30px;
        background: white;
       a{
           color: #7BB8FF;
       }
    }

    .disabled{
        a{
            color: #333;
        }
    }
}

#bottomLine{
    margin-bottom: 50px;
}