.commingEvent {
  text-align: center;
  .card-panel {
    border-radius: 5px;
    text-align: center;
    background: #3e4044;
    padding-top: 10px;
    padding-bottom: 1px;
  }

  .timeCounter {
    color: #5effb1;
  }

  .eventHeading {
    font-size: 30px;
    display: flex;
    .circle {
      background: #f2c94c;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      margin-top: 12px;
      margin-right: 4px;
    }
  }

  .Btn {
    margin: 1px auto;
    background: #7bb8ff;
    color: white;
    width: 50%;
    // width: 110px;
    border-radius: 5px;

    height: 40px;

    font-size: 20px;
    padding: 6px 12px;
    cursor: pointer;

    &:hover {
      background: white;
      color: #7bb8ff;
    }
  }
}

@media screen and (max-width: 600px) {
  .commingEvent {
    text-align: center;
    // background: red;

    .card-panel {
      font-size: 1.4em;
    }

    .Btn {
      width: 70%;
      margin: 2px auto;
    }
  }
}
