.endedEvent {
  .card-panel {
    background: #3e4044;
    padding-top: 10px;
    padding-bottom: 1px;
    border-radius: 5px;
  }

  .eventHeading {
    font-size: 30px;
    display: flex;
    .circle {
      background: #eb5757;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      margin-top: 12px;
      margin-right: 4px;
    }
  }

  .winnerBtn {
    background: #eb5757;
    color: white;
    width: 100%;
    text-align: center;
    // width: 110px;
    height: 40px;
    border-radius: 5px;

    font-size: 20px;
    padding: 6px 12px;
    cursor: pointer;

    &:hover {
      background: white;
      color: #eb5757;
    }
  }
}

@media screen and (max-width: 600px) {
  .endedEvent {
    text-align: center;
    .card-panel {
      font-size: 1.3em;
    }

    .winnerBtn {
      width: 50%;
      margin: 2px auto;
    }
  }
}
