.profileInSidenav{
    display: flex;
    .usernameP{
        margin-left: 20px;
        font-size: 20px;
    }

    .profileLink{
        margin-top: 10px;
        margin-left: 10px;
    }
}

.navlinktext{
    font-style: normal;
    font-weight: 500;
    line-height: 29px;
    font-size: 20px;
    padding-top: 10px;

}

.switch{
    font-size: 20px;
    label{
        font-size: 20px;
    }
}


.sidenav{
    background-color:#3E4044;
    li{
        &:hover{
            background-color: #2B2C2E;
        }
    }
    .active{
        background-color:#2B2C2E ;
    }
    img{
        width: 90%;
        margin-top: 15px;
        margin-left: 5px;
        height: auto;
    
    }
    .home{
        color:white;
    }    
    .art-work{
        color:  #CAFF95;

    }
    .blogs{
        color: #FFD850;
    }
    .contests{
        color:#7BB8FF;
    }
    .forum{
        color:
        #5EFFB1;
    }
    
    .signup{
        color:white;
    }
    .login{
        color: white;
    }
}
