
.coverPhoto{
    width: 100%;
    height: 280px;
    // background-color: rgb(32, 94, 124);
    background-image: url('../../images/wallpapersden.com_minimal-ship-artwork-purple-background_1280x7202.jpg');
    background-color: #3E4044;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    h1{ 
       
        font-size: 40px;
        padding: 0;
        margin: 0;
        margin-top: 10%;
    }
    p{
        font-size: 16px;
        padding: 0;
        margin: 0;
        margin: 5px 0;
        color: #CACACA;
    }
    .profilePicture{
        width:100px;
        height: 100px;
        border-radius: 50px;
        background-color: #333;
    }

    .details{
        margin-bottom: 10px;
        display: flex;
        justify-content: space-around;
        width: 50%;
    }

    
    img{
        width: 15%;
    }

}


.myuploads{
    padding: 5px 10px;
    background-color: #3E4044;
    border-radius: 10px;
    .headers{
        text-align: center;
        color: #CAFF95;
        font-size: 20px;
    }
    
    .card-panel{
        height: 200px;
    }

    .upload1{
        background-color: #F2C94C;
    }
    .upload2{
        background-color: #6FCF97;
    }
    .upload3{
        background-color: #F2994A;
    }
    .upload4{
        background-color: #EB5757;
    }
    .upload5{
        background-color: #FFF7B0;
    }   
    .upload6{
        background-color: #9B51E0;
    }

}

.mybio{
    background-color: #3E4044;
    border-radius: 10px;
    .headers{
        color: #EB5757;
        font-size: 20px;
    }
}

.mysaves{
    background-color: #3E4044;
    border-radius: 10px;
    .headers{
        margin-bottom: 20px;        
        color: #7BB8FF;
        font-size: 20px;
    }
}

.panels{
    // display: flex;
    height: 100px;
    .card-panels{
        width: 100px;
        height: 100px;
        border-radius: 5px;
    }
    .p1{
        background-color: #F2C94C;
        position: relative;
        left: 0px;
    }
    .p2{
        background-color: #6FCF97;
        position: relative;
        left: 40px;
        top: -100px;
    }
    .p3{
        background-color: #F2994A;
        position: relative;
        left: 80px;
        top: -200px;
    }
    .p4{
        background-color: #EB5757;
        position: relative;
        left: 120px;
        top: -300px;

    }
    .p5{
        background-color: #FFF7B0;
        position: relative;
        left: 160px;
        top: -400px;

    }
    .p6{
        background-color: #9B51E0;
        position: relative;
        left: 200px;
        top: -500px;

    }
}
@media screen and (min-width : 850px ){
 .coverPhoto{
    .details{
        width: 25%;

    }
 }
}
